<footer class="container-fluid bg-light">
    <div class="row">

    
        <section class="col">
            Colonne1
        </section>
        <section class="col">
            Colonne2
        </section>

        <section class="col">
            Colonne3
        </section>

    </div>
</footer>