<p>Bonjour
	{{ user.lastname }}</p>
<p>Pour votre demande de réinitialisation de Mot de passe, veuillez cliquez sur le lien suivant:

<a href="{{ url|raw }}">{{ url|raw }}</a>

</p>

<p>Ce lien expirera dans trois heures</p>
