<h1>Avtivez votre compte</h1>
<p>Bonjour {{ user.lastname }}</p>
<p>Votre inscription sur le site monSite est à valider en cliquantsur le lien ci dessous :</p>
<p><a href="#">Lien</a></p>
<p>Ce lien expirera dans trois heures</p>